<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalcPlusPlus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2864635629E74C06CB7B1D2C3EA6E957416A37F6</string>
				<key>dateExpires</key>
				<string>4/10/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6EG2U8T8NL.com.EasonsTekDevelopment.CalcPlusPlus</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SED69PSTK5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CalcPlusPlus.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>efb160ba-ab79-4068-8b88-7607fb36b472</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.EasonsTekDevelopment.CalcPlusPlus</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SED69PSTK5</string>
				<key>name</key>
				<string>Yingxia Qin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
