<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/easontekreviews2398/calculatorplusplus/releases/download/v0.2beta/CalcPlusPlus-v0.2-beta.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/easontekreviews2398/calculatorplusplus/releases/download/v0.2beta/58.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/easontekreviews2398/calculatorplusplus/releases/download/v0.2beta/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.EasonsTekDevelopment.CalcPlusPlus</string>
				<key>bundle-version</key>
				<string>0.2</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>CalcPlusPlus</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
